{% extends "base.html" %}
{% block title %}Admin : Add/Edit Content{% endblock %}
{% block navindex %} class="on"{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/static/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/admin/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/admin/static/js/jwysiwyg/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="/admin/static/js/jquery.MultiFile.pack.js"></script>
<link rel="stylesheet" href="/admin/static/js/jwysiwyg/css/jquery.wysiwyg.css" type="text/css"/>
<script type="text/javascript">
$(document).ready(function() {
	$("#showarticle").click(function() {
			$("#fulltext").show();
			$("#images").hide();
			$("#audio").hide();
			$("#media").hide();
			$("#form").attr("action", '/admin/updatecontent');
	});
	$("#showimages").click(function() {
			$("#fulltext").hide();
			$("#images").show();
			$("#audio").hide();
			$("#media").hide();
			$("#form").attr("action", '{{ upload_url }}');
	});
	$("#showmedia").click(function() {
			$("#fulltext").hide();
			$("#images").hide();
			$("#audio").hide();
			$("#media").show();
			$("#form").attr("action", 'http://s3.amazonaws.com/tomvon');
			$("#form").attr("method", 'POST');
	});
	$(function() {
		$( "#license" ).selectmenu({width: 200});
	});
	$(function() {
		$('#wysiwyg').wysiwyg({
		css: '/admin/static/css/editor.css',
		autoGrow: true,
		initialContent : '',
		controls: {
			bold: { visible: true },
			italic: { visible: true },
			strikeThrough: { visible: true },
			underline: { visible: true },
			justifyLeft: { visible: true },
			justifyCenter: { visible: true },
			justifyRight: { visible: true },
			justifyFull: { visible: true },
			indent: { visible: true },
			outdent: { visible: true },
			subscript: { visible: false },
			superscript: { visible: false },
			undo: { visible: true },
			redo: { visible: true },
			insertOrderedList: { visible: true },
			insertUnorderedList: { visible: true },
			insertHorizontalRule: { visible: true },
			createLink: { visible: true },
			insertImage: { visible: true },
			h1mozilla: { visible: true },
			h2mozilla: { visible: true },
			h3mozilla: { visible: true },
			h1: { visible: true },
			h2: { visible: true },
			h3: { visible: true },
			cut: { visible: false },
			copy: { visible: false },
			paste: { visible: false },
			increaseFontSize: { visible: false },
			decreaseFontSize: { visible: false },
			html: { visible: true },
			removeFormat: { visible: true },
			insertTable: { visible: false },
			}
		});
	});
	params = '?bucket={{ sps.s3bucket }}&key=' + $('#key').val() + '&type=' + $('#type').val() + '&title=' + $('#title').val() + '&description=' + $('#description').val() + '&text=' + $('#text').val() + '&pubdate=' + $('#pubdate').val() + '&featuredimage=' + $('#featuredimage').val() + '&status=' + $('#status').val() + '&license=' + $('#license').val() + '&ekey=' + $('#ekey').val() + '&acl=' + $('#acl').val() + '&contenttype=' + $('#contenttype').val();
	jQuery.fn.getpolicy=function() {
	$.get('/admin/getpolicy' + params, function(data) {
	$('#policy').attr('value', data)
	});
	};
	jQuery.fn.getsignature=function() {
	$.get('/admin/getsignature' + params, function(data) {
	$('#signature').attr('value', data)
	});
	};
	$('#mediafile').change(function(){
		fileid = $('#mediafile').val();
		murl = '/admin/getmime?fileid=' + fileid;
		$('#key').attr('value', fileid);
		$.get(murl, function(data) {
			$('#content-type').attr('value', data);
		});
	});
	$('#file').change(function(){
		fileid = $('#file').val();
		murl = '/admin/getmime?fileid=' + fileid;
		$('#key').attr('value', fileid);
		$.get(murl, function(data) {
			$('#content-type').attr('value', data);
		});
	});
	$('#form').submit(function() {
		$.getpolicy;
		$.getsignature;
	});
});
</script>
{% endblock %}

	{% block content %}

		<form action="/admin/updatecontent" id="form" method="post" enctype="multipart/form-data">
			<input type="hidden" name="key" id="key" value="" />
			<input type="hidden" name="AWSAccessKeyId" value="AKIAJBRHQDLH6TMXAUBA" />
			<input type="hidden" name="policy" id="policy" value="" />
			<input type="hidden" name="signature" id="signature" value="" />
			<div id="leftcol">
			<table>
				<tr>
					<td class="rowname"><label class="red">Content Type</label></td>
					<td>
						{% if ekey %}
							{{ type|capfirst }}
						{% else %}
							<input type="radio" name="type" value="article" id="showarticle"{% if type %}{% ifequal type "article" %} checked="checked"{% endifequal %}{% else %} checked="checked"{% endif %} /><label for="showarticle">Article</label>
							<input type="radio" name="type" value="image" id="showimages"{% ifequal type "image" %} checked="checked"{% endifequal %} /><label for="showimages">Images</label>
							<input type="radio" name="type" value="media" id="showmedia"{% ifequal type "media" %} checked="checked"{% endifequal %} /><label for="showmedia">Media</label>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="rowname"><label class="red">Title</label></td>
					<td><input type="text" name="title" size="45" value="{{ title }}" class="required" /></td>
				</tr>
				<tr>
					<td class="rowname"><label>Description</label></td>
					<td><textarea name="description" cols="50" rows="2">{{ description }}</textarea></td>
				</tr>
				<tr id="fulltext" style="display: {% if type %}{% ifequal type "article" %}visible{% else %}none{% endifequal %}{% else %}visible{% endif %};">
					<td class="rowname"><label>Full Text</label></td>
					<td><textarea name="text" cols="50" rows="5" id="wysiwyg">{{ text }}</textarea></td>
				</tr>
				<tr id="images" style="display: {% ifequal type "image" %}visible{% else %}none{% endifequal %};">
					<td class="rowname"><label>Images</label></td>
					<td>
						{% if file %}
							<img src="{{ file }}=s200" />
						{% else %}
							<input type="file" name="file" id="file" class="multi" />
						{% endif %}
					</td>
				</tr>
				<tr id="media" style="display: {% ifequal type "media" %}visible{% else %}none{% endifequal %};">
					<td class="rowname"><label>Media</label></td>
					<td>
						{% if media %}
							{% for m in media %}
							<embed src="{{ m }}"></embed>
							{% endfor %}
						{% else %}
							<input type="file" name="mediafile" id="mediafile" name="media" />
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="rowname"><label class="red">Tags</label></td>
					<td><input type="text" name="tags" size="40" value="{% for tag in tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}" class="required" /></td>
				</tr>
			</table>
			</div>

			<div id="rightcol">
			<table>
				<tr>
					<td class="rowname"><label class="red">Pub Date</label></td>
					<td><input type="text" name="pubdate" size="20" value="{% if pubdate  %}{{ pubdate|date:"M d Y h:i A" }}{% else %}{% now "M d Y h:i A" %}{% endif %}" class="datepicker required" /></td></td>
				</tr>
				<tr>
					<td class="rowname"><label>Default Image</label></td>
					<td><input type="text" name="featuredimage" size="20" value="{{ featuredimage }}" /> <a href="#">Choose An Image</a></td></td>
				</tr>
				<tr>
					<td class="rowname"><label class="red">Featured</label></td>
					<td>
						<input type="radio" name="featured" id="featuredno" value="notfeatured"{% if featured %}{% ifequal featured "notfeatured" %} checked="checked"{% endifequal %}{% else %} checked="checked"{% endif %} /><label for="featuredno">No</label>
						<input type="radio" name="featured" id="featuredyes" value="featured"{% ifequal featured "featured" %} checked="checked"{% endifequal %} /><label for="featuredyes">Yes</label>
					</td>
				</tr>
				<tr>
					<td class="rowname"><label class="red">Status</label></td>
					<td>
						<input type="radio" name="status" id="statuspublished" value="published"{% if status %}{% ifequal status "published" %} checked="checked"{% endifequal %}{% else %} checked="checked"{% endif %} /><label for="statuspublished">Published</label>
						<input type="radio" name="status" id="statusunpublished" value="unpublished"{% ifequal status "unpublished" %} checked="checked"{% endifequal %} /><label for="statusunpublished">Unpublished</label>
					</td>
				</tr>
				<tr>
					<td class="rowname"><label class="red">Access</label></td>
					<td>
						<input type="radio" name="acl" id="aclpublic" value="public-read"{% if acl %}{% ifequal acl "public-read" %} checked="checked"{% endifequal %}{% else %} checked="checked"{% endif %} /><label for="aclpublic">Public-Read</label>
						<input type="radio" name="acl" id="aclprivate" value="private"{% ifequal acl "private" %} checked="checked"{% endifequal %} /><label for="aclprivate">Private</label>
					</td>
				</tr>
				<tr>
					<td class="rowname"><label class="red">License</label></td>
					<td>
						<select name="license" id="license">
							<option value="none"{% ifequal license "none" %} selected="selected"{% endifequal %} >None</option>
							<option value="copyrighted"{% ifequal license "copyrighted" %} selected="selected"{% endifequal %} >Copyrighted</option>
							<option value="fdl"{% ifequal license "fdl" %} selected="selected"{% endifequal %} >FDL</option>
							<option value="cc by"{% ifequal license "cc by" %} selected="selected"{% endifequal %} >cc by</option>
							<option value="cc by-sa"{% ifequal license "cc by-sa" %} selected="selected"{% endifequal %} >cc by-sa</option>
							<option value="cc by-nd"{% ifequal license "cc by-nd" %} selected="selected"{% endifequal %} >cc by-nd</option>
							<option value="cc by-nc"{% ifequal license "cc by-nc" %} selected="selected"{% endifequal %} >cc by-nc</option>
							<option value="cc by-nc-sa"{% ifequal license "cc by-nc-sa" %} selected="selected"{% endifequal %} >cc by-nc-sa</option>
							<option value="cc by-nc-nd"{% ifequal license "cc by-nc-nd" %} selected="selected"{% endifequal %} >cc by-nc-nd</option>
							<option value="cc by-nc"{% ifequal license "cc by-nc" %} selected="selected"{% endifequal %} >cc by-nc</option>
						</select>
					</td></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" name="content-type" id="content-type" value="{{ contenttype }}" />
						<input type="hidden" name="ekey" value="{% if ekey %}{{ ekey }}{% else %}new{% endif %}" />
						<input type="submit" class="bigbutton" value="{% if ekey %}Edit{% else %}Add{% endif %} Content">
					</td>
				</tr>
			</table>
			</div>

		</form>

	{% endblock %}